
.sections-container{

    .sections-button{
        ul{
            justify-content:center;
            text-align:center;
            border:1px solid $main-color;
            border-radius:20px;
            li{
                background:$main-color;
                border-radius:0;
                margin-right:5px;
                border:0;
                a{
                    color:#fff;
                    border:0;
                    font-size:14px;
                    &.active{
                        background:#fff;
                        color:$main-color;
                        border-radius:0;
                    }
                }
            }
        }
    }

    .section-students{
        margin-top:50px;
        box-shadow:0px 0px 30px rgba(0, 0, 0, 0.1);
        padding:20px;
    }
}